{%extends 'main/base.html'%}
{%load static%}

{%block title%}
Pomodoro Timer
{%endblock%}

{%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Timer</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body style="font-weight:600;">
    <h1>Pomodoro Timer</h1>

     <!--- Pomodoro Container -->
    <div id="feh-pomodoro">
        <!--- Pomodoro overlay -->
        <div id="feh-pomodoro-overlay">
            <img src="{% static 'images/spinner.gif' %}" alt="">
        </div>

        <!--- Settings display -->
        <span class="btn-icon" id="feh-toggle-settings">
            <i class="fa fa-cog"></i>
        </span>

        <!--- Timer display -->
        <div id="feh-timer-progress">
            <svg class="circle-timer" viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="45" class="circle-background" />
                <circle cx="50" cy="50" r="45" class="circle-progress" />
                <text id="feh-timer-time" x="50" y="50" text-anchor="middle" dy=".3em" font-size="18">00:00</text>
                <text id="feh-timer-pause" x="50" y="68" text-anchor="middle" dy=".3em" font-size="7">Paused</text>
                <text id="feh-timer-rest" x="50" y="68" text-anchor="middle" dy=".3em" font-size="7">Rest</text>
            </svg>
        </div>

        <!--- Timer sessions display -->
        <div id="feh-timer-sessions">
            <p id="feh-completed-label">Completed work sessions: </p>
            <p id="feh-completed-sessions">0</p>
        </div>

        <!--- Timer settings display -->
        <div id="feh-timer-functions">
            <div id="feh-timer-settings">
                <span class="btn-icon" id="feh-close-settings"><i class="fa fa-times"></i></span>

                <form id="feh-timer-form">
                    <p class="feh-timer-line">
                        <label for="work-duration">Focus Time:</label>
                        <input type="number" id="work-duration" value="25" min="1">
                    </p>
                    <p class="feh-timer-line">
                        <label for="rest-duration">Rest Time:</label>
                        <input type="number" id="rest-duration" value="5" min="1">
                    </p>
                </form>
            </div>

            <!--- Timer Play/Pause buttons -->
            <div id="feh-timer-buttons">
                <button id="pause-btn"><i class="fa fa-pause"></i></button>
                <button id="start-btn"><i class="fa fa-play"></i></button>
            </div>
        </div>
    </div>

     <!--- Load javaScript code -->
    <script src="{% static 'js/timer.js' %}"></script>

</body>

</html>




{%endblock%}