{%extends 'main/base.html'%}
{%load static%}
{%block title%}
{%endblock%}


{%block content%}

<body id="todos">
    <!----Header---->
    <h1 class="header">To Do List</h1>

    <!----Today Tasks Container---->
    <div class="container-outline" style="font-weight:500; margin-bottom: 2%;">
        <h2 class="title-styles">Today</h2>

        <!--- Add task button container -->
        <div id="buttonContainer1" style="margin-bottom:2%;">
            <button type="button" class="btn btn-lg outline w-100 fs-6 mt-3"
              style="color: #898989; font-family: 'Rubik', sans-serif; font-weight: 400; text-align: left;padding: 20px;"
              onclick="replaceWithForm('buttonContainer1', 'formContainer1')"> <!--- When button is clicked, replace button with form -->
              <i class="fa-solid fa-plus fa-lg" style="margin-right: 7px;"></i> Add New Task
            </button>
          </div>
          
          <!--- Add task form container -->
          <div id="formContainer1" style="display: none; margin-bottom:2%;">
            <form method="POST" action="{%url 'todo'%}"> <!--- contents of the form is posted to the todo function  in views.py -->
              {%csrf_token%}
              
              <input name="task1" id="taskInput1" type="text" class="btn-lg outline w-100 fs-6 mt-3"
              style="color: #898989; font-family: 'Rubik', sans-serif; font-weight: 400; text-align: left; margin-bottom:2%;padding: 20px;"
              placeholder="Enter Task Title"/>
  
              <button type="button" class="btn outline" style="padding: 0.8em; width: 15%;padding: 20px;" 
              onclick="cancelOut('buttonContainer1', 'formContainer1', 'taskInput1')">
                  Cancel
              </button>
              <button name="newItem1" value="newItem1" type="submit" class="btn btn-primary outline" style="padding: 0.8em; width: 15%; margin-left: 1%;padding: 20px;"
              onclick="handleFormSubmit('buttonContainer1', 'formContainer1', 'taskInput1')">
              Add
          </button>
              
        </div>

        <!--- Display all "Today" todo tasks -->
        <form method="POST">
            {% csrf_token %}        
            <div class="row"> 
                <div class="col">
                    <div class="list-group list-group-flush">
                        {% for t in today %}
                            <div class="list-group-item d-flex justify-content-between align-items-center" style="color:black; margin-bottom:1%;">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="task{{ forloop.counter }}" onchange="toggleTask(this,1)"> <!--- Line through task -->
                                    <label class="form-check-label" for="task{{ forloop.counter }}">
                                        <span id="taskText{{ forloop.counter }}" style="font-family: 'Poppins', san-serif; font-weight:500">{{ t.task }}</span>
                                    </label>
                                </div>
                                <!--- Delete task Icon -->
                                <a href="{% url 'delete_task' t.id %}" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
        

      </div>
      
    <!----Upcoming Tasks Container---->
    <div class="container-outline"  style="font-weight:500; margin-bottom: 2%;">
        <h2 class="title-styles">Upcoming</h2>

            <!--- Add task button container -->
            <div id="buttonContainer2"  style="margin-bottom:2%;">
                <button type="button" class="btn btn-lg outline w-100 fs-6 mt-3"
                    style="color: #898989; font-family: 'Rubik', sans-serif; font-weight: 400; text-align: left;padding: 20px;"
                    onclick="replaceWithForm('buttonContainer2', 'formContainer2', 'taskInput2')">
                    <i class="fa-solid fa-plus fa-lg" style="margin-right: 7px;"></i> Add New Task
                </button>
            </div>

            <div id="formContainer2" style="display: none; margin-bottom:2%;">
                <form method="POST" action="{%url 'todo'%}">
                    {%csrf_token%}

                    <input name="task2" id="taskInput2" type="text" class="btn-lg outline w-100 fs-6 mt-3"
                        style="color: #898989; font-family: 'Rubik', sans-serif; font-weight: 400; text-align: left; margin-bottom:2%;padding: 20px;"
                        placeholder="Enter Task Title"/>

                  <!-- Your form fields go here -->
                    <button type="button" class="btn outline" style="padding: 0.8em; width: 15%;padding: 20px;" 
                    onclick="cancelOut('buttonContainer2', 'formContainer2','taskInput2')"> 
                        Cancel
                    </button>
                    
                    <button name="newItem2" value = "newItem2" type="submit" class="btn btn-primary outline" style="padding: 0.8em; width: 15%; margin-left: 1%;padding: 20px;"
                    onclick="handleFormSubmit('buttonContainer2', 'formContainer2', 'taskInput2')">
                        Add
                    </button>
                </form>

            </div>

            <!--- Display all "Upcoming" todo tasks -->
            <form method="POST">
                {% csrf_token %}        
                <div class="row"> 
                    <div class="col">
                        <div class="list-group list-group-flush">
                            {% for u in upcoming %}
                                <div class="list-group-item d-flex justify-content-between align-items-center" style="color:black; margin-bottom:1%;">
                                        <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="task{{ forloop.counter }}" onchange="toggleTask(this,2)"> <!--- Line through task -->
                                                <label class="form-check-label" for="task{{ forloop.counter }}">
                                                    <span name ="Item" id="taskText2{{ forloop.counter }}" style="font-family: 'Poppins', san-serif; font-weight:500">{{ u.task }}</span>
                                                </label>
                                            </div>
                                            <!--- Delete task Icon -->
                                            <a href="{% url 'delete_task' u.id %}" title="Delete">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </form>
            
            

        </div>
    </div>

    <!--- Load JavaScript code -->
    <script src="{% static 'js/todo.js' %}"></script>

</body>

{%endblock%}